* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.options:after {
    color: red;
    content: " *";
}

Body {
  	height: 100vh;
  	width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
  	margin-left: auto;
    margin-right: auto
}
#UserDate {
		width: 50%;
  	float: left;
  	margin-left: auto;
    margin-right: auto;
}
#radio {
  	width: 50%;
  	float: right;
  	margin-left: auto;
    margin-right: auto;
}
#but {
		position: bottom;
  	width: 100%;
  	height: 5%;
}

p {
    margin: 10px 0;
  	text-decoration: underline;
}
input {
    margin: 10px 0;
    padding: 10px;
  	width:180px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
a {
  	position: bottom;
    text-decoration: none;
  	margin-top: 10px;
  	font-size: 10;
}
button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}